<div class="container">
     
    <div class="row">
        <div class="col-md-12"><h2>Enrollee List</h2></div>
    </div>
    <div class="row">
       <ng-template #errorTemplate>
          <div class="modal-header">
            <h4 class="modal-title pull-left ">Error Message</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <span class="errorMsg">There is an error occured while loading data.</span>
          </div>
        </ng-template>
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>DOB</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                 <tr *ngFor="let e of enrolleeList">
                    <td>{{e.id}}</td>
                    <td>{{e.name}}</td>
                    <td>{{e.dateOfBirth}}</td>
                    <td>{{e.active}}</td>
                    <td>  <button type="button" class="btn btn-info btn-sm" data-toggle="modal" (click)="editEnrollee(e.id)">Edit</button></td>
                 </tr>
                 
                </tbody>
              </table>
            
        </div>
    </div>
    <div class="modal fade" id="editModal" role="dialog">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Update Enrollee Details</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="editForm" *ngIf="this.editForm" (ngSubmit)="UpdateData()">
                    <div class="form-group">
                      <label for="name">Name:</label>
                      <input type="text" class="form-control"  formControlName="name">
                    </div>
                    <div class="form-group">
                      <label for="status">Active:</label>
                      <input type="checkbox" class="form-control1 custom-checkbox"  formControlName="active">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                  <div class="alert alert-success" *ngIf="profileUpdated">
                    <strong>Success!</strong> Profile has been updated successfully.
                  </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
</div>
